/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  
}

html,
body {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
/* /RESET */

body{
  background: #001233;
  align-content: center;
  overflow-y: hidden;
  overflow-x: scroll;
  
}

.container{
height: auto;
width: 100%;
transform: rotate(-90deg);
transform-origin: right top;
transform:rotate(-90deg) translateY(-100px);

}

.container > div{
width: 100%;
height: auto;
transform: rotate(90deg);
transform-origin: right top;
}

.logo{
  margin-top: -300px;
  top: 0;
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  display: block;
  text-align: center;
}

.paragrapheAccueil{
  color: white;
  font-size: 1.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  height: auto;
  margin-top: -400px;
  padding-left: 600px;
  text-align: justify;
  margin-bottom: 0;
}

.ligne{
  width: 100%;
  height: auto;
}

.chemin{
width: 86%;
height: auto;
margin-top: 707px;
position: absolute;
float: right;
margin-left: 675px;
z-index:1;
}

.point{
float: left;
margin-top: 880px;
margin-left: 680px;
}

.nobel{
margin-top: 760px;
margin-left: -90px;
float: left;
color: #ef2c5f;
}

.nobel2{
margin-top: 790px;
margin-left: -70px;
float: left;
color: #ef2c5f;
}

.marie{
width: 30%;
float: left;
margin-left: -20px;
margin-top: 545px;
position: absolute;
float: right;
z-index:0;
}

.nommarie{
width: 14%;
float: left;
margin-left: 150px;
margin-top: 460px;
position: absolute;
float: right;
z-index:0;

}

.pointBlanc{
float: left;
width: 40px;
margin-top: 840px;
margin-left: 460px;
height: 100px;
}

.dateCleUn{
margin-top: 950px;
margin-left: -100px;
float: left;
color: #ffffff;
}

.paragrapheDateCleUn{
margin-top: 914px;
margin-left: -40px;
float: left;
color: rgb(255, 255, 255);
}

.pointR{
margin-left: 1380px;
float: left;
margin-top: -220px;
}

.josephine{
margin-left: 1390px;
margin-top: -310px;
float: left;
color: #ef2c5f;
}

.josephineAnnee{
margin-left: 1410px;
margin-top: -270px;
float: left;
color: #ef2c5f;
}

.josephineImage{
width: 20%;
float: left;
margin-left: -330px;
margin-top: 360px;
position: absolute;
float: right;
z-index:0;
}

.nomjosephine{
width: 18%;
float: left;
margin-left: -330px;
margin-top: 280px;
position: absolute;
float: right;
z-index:0;

}

.pointR3{
margin-left: 1920px;
float: left;
margin-top: -300px;
}

.leeIntitule{
margin-left: 1920px;
margin-top: -420px;
width: 100px;
text-align: center;
float: left;
color: #ef2c5f;
}

.leeAnnee{
margin-left: 1950px;
margin-top: -340px;
float: left;
color: #ef2c5f;
}

.leeImage{
width: 15%;
margin-left: 220px;
margin-top: 260px;
position: absolute;
float: right;
z-index:0;
}

.nomLee{
width: 15%;
margin-left: 230px;
margin-top: 200px;
position: absolute;
float: right;
z-index:0;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background: #001233;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 90%;
height: 95%;
overflow-y: scroll;
color: #5ce1e6;

}



/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.dateNaissanceLee{
color:  #ef2c5f;
}

.picasso{
float: left;
width: 100px;
height: 100px;
margin-left: 130px;
margin-top: -250px;
}

.textePicasso{
float: left;
margin-left: 120px;
margin-top: -150px;
text-align: center;
}

/* Style des textes */

h1, h2, h3, h4{
font-family: 'Knewave', cursive;
}
p{
font-family: 'Josefin Sans', sans-serif;
color : white
}

/* changement taille smile page accueil*/
#smile{
width : 1.2em;
margin-left : 0.2em;
}